<hr>

<h4 class="text-center"><b>フォロー中のユーザー一覧</b></h4>

<hr>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if @users.exists? %>
      <% @users.each do |user| %>
                 <div class="d-flex">
 
          <div class="card">

            <figure>
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %>
              <% end %>
              <div class="card-body">
                <figcaption>
                  <%= user.name %>
                  <%= simple_format user.introduction %>
                </figcaption>
              </div>
              <%= render "relationships/btn", user: user, options: { class: ""} %>
            </figure>
          </div>
        </div>
      <% end %>
      <% else %>
        <p>まだ誰もフォローしていません。</p>
      <p>沢山の方と繋がりましょう！</p>
    <% end %>
  </div>
</div>