<hr>
<b><i class="fa-solid fa-comment water-blue"></i> コメント </b><%= post.post_comments.count %>件
<div class="row">
  <div class="col-md-6">
    <% post.post_comments.each do |post_comment| %>
      <table class="table">
        <tr> 
          <td>
            <%= link_to user_path(@user) do %>
              <%= image_tag post_comment.user.get_profile_image(70,70), class: "rounded-circle" %>
            <% end %>
          </td>
          <td>
            <%= simple_format post_comment.comment %>
          </td>
          <td>
            <div class="text-right">
              <% if post_comment.user == current_user %>
                <%= link_to post_post_comment_path(post_comment.post, post_comment), class: "btn btn-outline-danger", method: :delete, data: {confirm: "コメントを削除しますか？"} do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              <% end %>
              <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= form_with model: [post, post_comment] do |f| %>
      <%= f.text_area :comment, class: "form-control w-100", rows: '5', placeholder: "思いやりのあるコメントを心掛けましょう" %>
      <div class="text-right">
        <%= f.button class: "btn btn-outline-success mb-5" do %>
          <i class="fa-solid fa-check"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
