<hr>
<div class="row">
  <div class="col-md-3 text-center">
    <div class="mozi">
      <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle image" %>
      <p>
        <%= @user.name %>
        <% if current_user != @user %>
          <%= render "relationships/btn", user: @user, options: { class: ""} %>
          <% else %>
          <%= link_to edit_user_path(@user), class: "edit" do %>
            <i class="fa-solid fa-gear"></i>
          <% end %>
        <% end %>
      </p>
    </div>
    <hr>
    <p>フォロー中
    <%= link_to @user.followings.count, user_followings_path(@user) %>
    フォロワー
    <%= link_to @user.followers.count, user_followers_path(@user) %></p>
    <hr>
    <%= simple_format @user.introduction %>
    <hr>
    <div class="text-center"> 
      <div class="font-english heading top">
        <i class="fa-solid fa-paperclip green"></i> Link
      </div>
      <% if user_signed_in? && @user == current_user %>
        <hr>
        <%= link_to user_favorite_path(@user), class: "side" do %>
          <i class="fa fa-heart favorite-btn"></i>お気に入りレシピ一覧
        <% end %>
      <% end %>
      <hr>
      <%= link_to user_columns_path(@user), class: "side" do %>
        <i class="fa-solid fa-feather green"></i>コラム一覧
      <% end %>
      <hr>
      <% if user_signed_in? && @user == current_user %>
        <%= link_to expirations_path, class: "side" do %>
          <i class="fa-solid fa-calendar-days blue"></i> 賞味期限管理
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="text-center font-english heading">
      <i class="fa-solid fa-mug-hot brown"></i> Recipe List
    </div>
    <hr>

    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-4">
          <%= link_to post_path(post), class: "d-block" do %>
            <%= image_tag post.get_image, style: "width:100%;" %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="d-flex align-items-center justify-content-center gap-2 w-100">
            <b class="text-center w-100"><%= post.title %></b>
            <hr>
            <% if post.user == current_user %>
              <% if post.status == 'publish' %>
                <div class="badge badge-primary">
                  <%= post.status_i18n %>
                </div>
              <% elsif post.status == 'secret'%>
                <div class="badge badge-success">
                  <%= post.status_i18n %>
                </div>
              <% else %>
                <div class="badge badge-secondary">
                  <%= post.status_i18n %>
                </div>
              <% end %>
            <% end %>
          </div>
          <hr>
          <%= simple_format post.introduction %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>


