<%= render 'layouts/error_messages', model: @column %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= form_with model: @column do |f| %>
        <p class="text-center">タイトル</p>
        <%= f.text_field :title, size: "90x20" %>
        <hr>
        <p class="text-center">コラムの内容</p>
        <p><%= f.rich_text_area :body, rows: 30 %></p>
        <hr>
        <p class="text-center">ステータス</p> 
        <%= f.select :status, Column.statuses.keys.map { |k| [I18n.t("enums.column.status.#{k}"), k] }, {}, { class: "form-control mb-2 w-25" } %>
        <div class="mt-2">
          <%= f.button class:"btn btn-outline-success" do %>
            <i class="fa-solid fa-check"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

