<hr>
<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="font-english heading">
        <i class="fa-solid fa-paperclip green"></i> Link
      </div>
      <hr>
      <%= link_to user_columns_path(@user), class: "side" do %>
        <i class="fa-solid fa-user pale-blue"></i> 自分のコラム一覧
      <% end %>
      <hr>
      <%= link_to new_column_path, class: "side" do %>
      <i class="fa-solid fa-wand-magic-sparkles yellow"></i> コラムを投稿する
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="text-center font-english heading">
        <i class="fa-solid fa-feather green"></i> Columns List
      </div>
      <hr>
      <% @columns.each do |column| %>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex flex-column align-items-center">
            <%= image_tag column.user.get_profile_image(100,100), class: "rounded-circle" %>
            <p><%= column.user.name %></p>
          </div>

          <div class="d-flex flex-grow-1 justify-content-center align-items-center text-center">
            <%= link_to column.title, column_path(column), class: "link" %>
          </div>
          <div class="ms-auto text-muted">
            <%= column.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>