<hr>
<div class="row">
  <div class="col-md-3">
    <div class="text-center">
      <div class="font-english heading">
        <i class="fa-solid fa-user pale-blue"></i> Author
      </div>
      <hr>
      <%= image_tag @column.user.get_profile_image(100,100), class: "rounded-circle" %>
      <%= link_to user_path(@column.user.id), class: "side" do %>
        <%= @column.user.name %>
      <% end %>
      <hr>
      <div class="font-english heading">
        <i class="fa-solid fa-paperclip green"></i> Link
      </div>
      <hr>
      <%= link_to user_columns_path(@user), class: "side" do %>
        <i class="fa-solid fa-user pale-blue"></i> 自分のコラム一覧
      <% end %>
      <hr>
      <%= link_to new_column_path, class: "side" do %>
        <i class="fa-solid fa-wand-magic-sparkles yellow"></i> コラムを投稿する
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="text-center mozi">
      <i class="fa-solid fa-feather green"></i> コラム：<%= @column.title %>
      <% if @column.user == current_user %>
        <%= link_to edit_column_path(@column), class: "btn btn-outline-success" do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      <% end %>
    </div>
    <hr>
    <%== @column.body %>
    <style>
      figcaption {
        display: none!important;
      }
      figure img {
        max-width: 50%;
        object-fit: contain;
      }
    </style>
  </div>
</div>
