<div class="row">
  <div class="col-md">
    <div class="text-center">
      <h1 class="font-english">gomacafe</h1>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <%= image_tag 'cookie.jpg', style: "width:300px; height:300px;", class: "rounded-circle mx-1" %>
      <%= image_tag 'ahunun.jpg', style: "width:300px; height:300px;", class: "rounded-circle mx-1" %>
      <%= image_tag 'syu.jpg', style: "width:300px; height:300px;", class: "rounded-circle mx-1" %>
    </div>
    <hr>
    <div class="text-center mb-3">
      <p>gomacafeで一緒にお菓子作りを楽しみましょう！</p>
      <p>自分のレシピを記録したり、コラムを書いたり、賞味期限の管理ができます！</p>
      <p>誰かと繋がらなくても楽しめる、そんなHPです！</p>
      <% if user_signed_in? %> 
        <%= link_to "マイページへ", user_path(current_user) %>
        <% else %>
        <hr>
        <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-success" %>
        <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-info" %>
        <%= link_to "ゲストログイン", guest_login_path, method: :post, class:"btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>