<hr>
<div class="text-center font-english heading">
  <i class="fa-regular fa-calendar-days blue"></i> Calendar
</div>
<hr>

<%= form_with model: @expiration do |f| %>
  <%= f.text_field :name %>
  <%= f.date_field :start_time, value: params[:date] %>
  <%= f.submit %>
<% end %>

<%= link_to expiration_path(@expiration), class: "btn btn-outline-danger", method: :delete, data: { confirm: "本当に削除しますか？" } do %>
  <i class="fa-solid fa-trash-can"></i>
<% end %>
