<hr>

<div class="row">
  <div class="col-md-12 mb-5 text-center">
    <h4><b><i class="fas fa-tag"></i>タグ一覧</b></h4>
    <hr>
    <div>
      <% @genres.each do |genre| %>
        <%= link_to genre.name, genre_path(genre), class: "btn btn-outline-info" %>
      <% end %>
    </div>
    <div class="mt-2">
      <% @others.each do |other| %>
        <%= link_to other.name, other_path(other), class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</div>

<hr>
  <h4 class="text-center"><b><i class="fa-solid fa-camera-retro"></i> レシピ一覧</b></h4>  
<hr>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card shadow mb-5">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image, style: "width:100%;" %>
        <% end %>
        <div class="card-body">
          <div class="text-center">
            <b><%= post.title %></b>
          </div>
          <div class="mb-1">
            <%= image_tag post.user.get_profile_image(50,50), class: "rounded-circle" %>
            <%= post.user.name %>さん
          </div>
          <div class="text-right">
            <i class="fa-solid fa-heart favorite-btn" style="font-size:32px;"></i>
            <%= post.favorites.count %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>