<hr>

<div class="text-center">
  <h4><b><i class="fa-solid fa-camera-retro"></i> レシピ一覧</b></h4>
</div>
  
<hr>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-lg-3 col-md-4 col-sm-6">

      <div class="card shadow">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image, style: "width:100%;" %>
        <% end %>
        <div class="card-body">
          <div class="text-center">
            <b><%= post.title %></b>
          </div>
          <div class="mb-1">
            <%= image_tag post.user.get_profile_image(50,50), class: "rounded-circle" %>
            <%= post.user.name %>さん
          </div>
          <div class="text-right">
            <i class="fa-solid fa-heart favorite-btn" style="font-size:32px;"></i>
            <%= post.favorites.count %>
          </div>
        </div>
        </div>
        <div class="mb-5">
      </div>
    </div>
  <% end %>
</div>


<hr>

<div class="row">
  <div class="col-md-12 mb-5">
    <h4 class="text-center"><b>
    <i class="fas fa-tag"></i>タグ一覧</b></h4>
    <hr>
    <% @genres.each do |genre| %>
      <%= link_to genre.name, genre_path(genre), class: "btn btn-info" %>
    <% end %>
    <% @others.each do |other| %>
      <%= link_to other.name, other_path(other), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
