<%= render 'layouts/error_messages', model: @post %>
<hr>
<div class="text-center mozi">
  <i class="fa-solid fa-mug-hot recipe-btn"></i> <%= @post.title %>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <% if @post.image.attached? %>
      <%= image_tag @post.image, style: "width:300px; height:300px;" %>
    <% else %>
      <%= image_tag 'noimage', style: "width:300px; height:300px;" %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
    <%= link_to @user.name, user_path(@user.id) %>さんのレシピ
    <%= render "relationships/btn", user: @user, options: { class: ""} %>
    <hr>
    <div class="d-flex">
      <b><i class="fa-solid fa-check-double"></i> レシピ概要</b>
      <b class="ml-5"><i class="fa-solid fa-flag"></i> 簡単レベル </b>
        <div id="star_<%= @post.id %>"></div>
        <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#star_<%= @post.id %>');
          if (elem == null) return;
      
      elem.innerHTML = "";
      let opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= @post.star %>",
        readOnly: true,
      };
      raty(elem, opt);
    });
    </script>
</div>

    <hr>

    <%= simple_format @post.introduction %>

    <hr>
    
    <div class="d-flex">
      <% if @post.favorited_by?(current_user) %>
        <div class="d-flex">
          <div class="mr-1">
            <%= link_to post_favorites_path(@post), method: :delete do %>
              <i class="fa-solid fa-heart favorite-btn" style="font-size:32px;"></i>
            <% end %>
          </div>
          <div class="d-flex align-items-end">
            <span><%= @post.favorites.count %></span>
          </div>
        </div>
        <% else %>
        <div class="d-flex">
          <div class="mr-1">
            <%= link_to post_favorites_path(@post), method: :post do %>
              <i class="fa-regular fa-heart nofavorite-btn" style="font-size:32px;"></i>
            <% end %>
          </div>
          <div class="d-flex align-items-end">
            <span><%= @post.favorites.count %></span>
          </div>
        </div>
      <% end %>

      <% if @post.genre || @post.other %>
        <div class="d-flex align-items-end">
          <div class="ml-5">
          </div>
          <% if @post.genre %>
            <%=link_to @post.genre.name, genre_path(@post.genre), class: "tag" %>
          <% end %>
          <% if @post.other %>
            <%=link_to @post.other.name, other_path(@post.other), class: "tag" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <b><i class="fa-solid fa-seedling"></i> 材料</b> <%= @post.amount %>

    <hr>

    <%= simple_format @post.material %>
  </div>
  <div class="col-md-8">
    <b><i class="fa-solid fa-mitten"></i> 作り方</b>
    <hr>
    <%= simple_format @post.recipe %>
    <hr>
    <b><i class="fa-solid fa-bullhorn"></i> ポイント</b>
    <hr>
    <%= simple_format @post.point %>
  </div>
</div>

<% if @user == current_user %>
  <div class="d-flex justify-content-end">
    <%= link_to edit_post_path(@post), class: "btn btn-outline-success mr-2" do %>
      <i class="fa-solid fa-gear"></i>
    <% end %>

    <%= link_to post_path(@post.id), class: "btn btn-outline-danger", method: :delete, data: {confirm: "投稿を削除しますか？"} do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
  </div>
<% end %>

<hr>

<%= render "post_comments/index", post: @post, post_comment: @post_comment %>