<hr>
<div class="text-center">
  <%= image_tag @user.get_profile_image(200,200) %>
  <p><b>User Name</b>:
  <%= @user.name %></p>
  <p><b>Adress</b>:
  <%= @user.email %></p>
  <p><b>Number of posts</b>:
  <%= @post.count %>件</p>
  <%= link_to edit_user_path(@user), class: "btn btn-outline-danger", method: :delete, data: {confilm: "本当に削除しますか？"} do %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>
  <%= link_to admin_users_path, class: "btn btn-outline-success" do %>
    <i class="fa-solid fa-share"></i>
  <% end %>
</div>