<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#edd0ca;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span class="font-english">gomacafe</span>
    </a>
    <%= render "layouts/search" %>
    <ul class="navbar-nav" style="list-style:none;">
      <% if user_signed_in? %> 
        <li>
          <%= link_to user_path(current_user), class: 'nav-link font-english' do %>
            <i class="fa-solid fa-user"></i>My page
          <% end %>
        </li>

        <li>
          <%= link_to posts_path, class:"nav-link font-english" do %>
            <i class="fa-solid fa-mug-hot"></i>recipe
          <% end %>
        </li>

        <li>
          <%= link_to columns_path, class:"nav-link font-english" do %>
            <b><i class="fa-solid fa-feather"></i>column</b>
          <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link  font-english' do %>
            <b><i class="fa-solid fa-user-minus"></i>Log out</b>
          <% end %>
        </li>

      <% else %>

        <li>
          <%= link_to new_user_registration_path, class: 'nav-link font-english' do %>
            <b><i class="fa-solid fa-user-plus"></i>New user</b>
          <% end %>
        </li>

        <li>
          <%= link_to new_user_session_path, class: 'nav-link font-english' do %>
            <b><i class="fa-solid fa-unlock"></i>Log in</b>
          <% end %>
        </li>
      <% end %>    
    </ul>
  </div>
</nav>