<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#edd0ca;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <span class="playwrite-in-title">gomacafe</span>
    </a>

    <% if user_signed_in? %>
      <div class="search_form w-50 mr-3">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <div class="form-row">
            <div class="col-md-2 offset-md-4">
              <%= f.select :range, options_for_select([['ユーザー', 'user'], ['投稿', 'post']]), {}, {class: "form-control"} %>
            </div>
            <div class="col-md-5">
              <%= f.text_field :word, placeholder: "投稿・ユーザー名で検索", class: "form-control" %>
            </div>
            <div class="col-md-1">

              <%= button_tag type: "submit", class: "btn btn-secondary" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
        <% end %>
        <% end %>
      </div>
    <% end %>

    <ul class="navbar-nav" style="list-style:none;">
    <% if user_signed_in? %> 
      <li>
        <%= link_to user_path(current_user), class: 'nav-link' do %>
          <i class="fa-solid fa-user"></i>マイページ 
        <% end %>
      </li>

      <!--
      <li><a class="nav-link text_black">test</a></li>

      <style>
        .text_black {
          color: black!important;
        }
        .text_black:hover {
          color: red!important;
        }
      </style>
      -->
        <li>
        <%= link_to new_post_path, class:"nav-link" do %>
        <i class="fa-solid fa-pen-to-square"></i>新規投稿
        <% end %>
      </li>

      <li>
        <%= link_to posts_path, class:"nav-link" do %>
      <i class="fa-solid fa-camera-retro"></i>レシピ
      <% end %>
      </li>

      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
          <i class="fa-solid fa-user-minus"></i>ログアウト
          <% end %>
      </li>

    <% else %>
      <li>
        <%= link_to new_user_registration_path, class: 'nav-link' do %>
        <i class="fa-solid fa-user-plus"></i>新規登録
        <% end %>
      </li>

      <li>
        <%= link_to new_user_session_path, class: 'nav-link' do %>
        <i class="fa-solid fa-unlock"></i>ログイン
        <% end %>
      </li>
    <% end %>    
    </ul>
  </div>
</nav>